button {
  cursor: pointer;
  font-family: "Montserrat";
  background-color: #fff;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 20px;
  line-height: 1.5;
  color: #ff0086;
  font-weight: 500;

  transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;

  &.cta {
    background-color: #fae568;
    color: #050411;
  }

  &:hover {
    background-color: #ff0086;
    color: #fff;

    &.cta {
      background-color: #050411;
      color: #fae568;
    }
  }

  &.inverted {
    color: #fff;
    background-color: #ff0086;

    &:hover {
      background-color: #fff;
      color: #ff0086;
  
      &.cta {
        background-color: #fae568;
        color: #050411;
      }
    }
  }
}