#home {
  color: #242534;
  background-color: #eef1f5;
  
  .content {
    p, li, a {
      font-family: "Montserrat", sans-serif;
      line-height: 1.5;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: "Gochi Hand", cursive;
      line-height: 1.5;
    }

    #top-section {
      background: radial-gradient(at center center,#211b62 0,#000 95%);
      color: #fff;

      #description-left {
        max-width: 60%;
        padding-right: 32px;

        #banana-desc {
          font-size: 22px;
          margin: 0px;
        }

        #stake-cta {
          color: #fae568;
          font-size: 20px;
          font-weight: 500;
          margin: 5px 0px;
        }

        #icon-row {
          display: flex;
          padding-bottom: 6px;

          img {
            width: 30px;
            height: 30px;
            margin: 3px 5px;
            display: block;
            cursor: pointer;
          }
        }

        #buy-sell-link {
          text-decoration: none;
          color: #5fecef;
          font-weight: 500;
          padding-top: 12px;

          &:hover {
            color: #167677
          }
        }

        #question {
          text-decoration: none;
          cursor: pointer;
          font-size: 20px;
          font-weight: 500;
          margin: 5px 0px;
          color: #ff0086;
        }
      }

      #description-right {
        max-width: 400px;
      }

      .stake-progress-text {
        font-size: 28px;
        margin: 0;
      }

      #stake-progress {
        display: flex;
        background-color: #312e4e;
        border-radius: 6px;
        overflow: hidden;

        div {
          height: 12px;

          &:first-child{
            background-color: #fae568;
            border-radius: 6px;
          }
        }
      }

      #personal-stats-row {
        display: flex;

        .personal-stats-card {
          flex: 1;
          border-radius: 5px;
          background-color: #423e67;
          margin-top: 32px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 16px;
          color: #e7e5fa;
          
          &:not(:first-child) {
            margin-left: 16px;
          }

          &:not(:last-child) {
            margin-right: 16px;
          }

          h3 {
            font-size: 22px;
            margin: 0 0 12px;
          }
          
          h4 {
            font-size: 18px;
            margin: 0 0 10px;
          }

          p {
            color: #fae568;
            font-weight: 600;
            font-size: 30px;
            margin: 0;
            margin-right: 10px;
          }
          
          img { 
            display: block;
            height: 30px;
          }

          button {
            margin-left: 10px;
          }
        }
      }

      #wallet-data-row {
        display: flex;

        .wallet-data-card {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 16px;
          color: #e7e5fa;
          border-radius: 5px;
          background-color: #423e67;
          margin-top: 32px;

          &:not(:first-child) {
            margin-left: 16px;
          }

          &:not(:last-child) {
            margin-right: 16px;
          }

          h3 {
            font-size: 22px;
            margin: 0 0 12px;
          }
        }

        .monkey-list {
          display: flex;
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          -moz-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          -o-flex-wrap: wrap;
          grid-gap: 0;
          gap: 0;
          max-height: 930px;
          overflow-x: auto;
          justify-content: space-evenly;
        }
      }

      #disconnected-wallet-card {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        color: #e7e5fa;
        border-radius: 5px;
        background-color: #423e67;
        margin-top: 32px;

        button {
          margin: 0px 16px;
        }

        .pink {
          background-color: #ff0086;
          color: #fff;

          &:hover {
            color: #ff0086;
            background-color: #fff;
          }
        }
      }
    }

    #bgr-section {
      display: flex;
      padding: 0px 24px;
      background: radial-gradient(at center center,#211b62 0,#000 95%);
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 32px;
        margin-top: 64px;
        color: #fff;
      }
      
      #columns {
        display: flex;
        margin: auto;
        max-width: 1145px;
        padding-bottom: 100px;
        gap: 16px;
      }

      .traitColumn {
        flex: 1;

        &.kids {
          display: flex;
          flex-direction: column;
        }

        h3 {
          color: #ff0086;
          margin-top: 0px;
          width: 100%;
          text-align: center;
          font-size: 24px;
        }
      }

      #traitGrid {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        grid-gap: 12px;

        .trait-item {
          background: #ffffff1a;
          border-radius: 8px;
          width: 80px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .trait-img {
            width: 60px;
            height: 60px;
          }
          
          p {
            color: #ffe668;
            font-weight: 600;
            margin: 0px;
            text-align: center;
            background-color: #ffffff52;
            border-radius: 0 0 8px 8px;
            width: 100%;
          }
        }
      }

      #kidsTraitGrid {
        background: #ffffff1a;
        border-radius: 8px;
        height: -webkit-fill-available;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          color: #fff;
        }
      }
    }

    #description {
      margin: auto;
      max-width: 1145px;
      padding: 32px 24px;

      #title {
        font-size: 28px;
      }

      #subtitle {
        font-size: 22px;
      }
    }

    #bottom-section {
      max-width: 1145px;
      margin: auto;
      display: flex;
      padding: 0px 24px;

      #title {
        font-size: 28px;
      }

      #subtitle {
        font-size: 22px;
      }

      #bgrList {
        flex: 0.8;
        background: radial-gradient(at center center,#211b62 0,#000 95%);
        padding: 24px;

        #traitGrid {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
          grid-gap: 12px;
        }
  
        h2 {
          color: #ff0086;
          margin-top: 0px;
        }

        .trait-item {
          background: #ffffff1a;
          border-radius: 8px;
          width: calc(20% - 10px);
          display: flex;
          flex-direction: column;
          align-items: center;

          .trait-img {
            width: 60px;
            height: 60px;
          }
          
          p {
            color: #ffe668;
            font-weight: 600;
            margin: 0px;
            text-align: center;
            background-color: #ffffff52;
            border-radius: 0 0 8px 8px;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1050px)  {
  #home {
    .content {
      #top-section {
        #description-right {
          max-width: 300px;
        }
      }

      #bottom-section {
        #bgrList {
          .trait-item {
            width: calc(25% - 9px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px)  {
  #home {
    .content {
      #bottom-section {
        #bgrList {
          .trait-item {
            width: calc(16.6% - 10px);
          }
        }
      }
    }
  }
}